@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: white;
  color: black;
  -webkit-font-smoothing: antialiased;
}

button {
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
